* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #68cdd5;
    height: 100vh;
    width: 100vw;
}

.header img{
    position: relative;
    top: 10px;
    left: 10px;
    height: 025px;
    width: 025px;
}

.container img{
    position: relative;
    top: 60px;
    left: 50%;
    height: 70px;
    width: 140px;
    margin-left: -72px;
}

.container p{
    position: relative;
    color: #ffffff;
    text-align: center;
    width: 80%;
    top: 120px;
    left: 50%;
    margin-left:-40%;
}

.footer {
    position: relative;
    top: 40%;
}
.left{
    position: relative;
    left: 10%;
}
.left , .left img {
    height: 40px;
    width: 40px;
}

.left p{
    color: #ffffff;
    text-align: center;
    margin-left: -8px;
}

.right{

    float: right;
    top: -40px;
    left: -10%;
    position: relative;
    border-radius:50%;
    background-color: #009e96;
}

.right , .right img {
    height: 40px;
    width: 40px;
}


.right p{
    color: #ffffff;
    text-align: center;
    margin-left: -8px;
}