body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

img {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline-style: none;
    vertical-align: bottom;
}

a,
a:active,
a:visited {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.specialclearfix:after {
    content: ".";
    display: block;
    height: 250px;
    visibility: hidden;
    clear: both;
}

.sliders-contaner {
    width: 100%;
    position: relative;
}

.sliders+.sliders {
    opacity: 0;
}

.sliders {
    width: 100%;
    position: absolute;
    animation-timing-function: linear;
    animation-name: move;
    animation-iteration-count: infinite;
    background-size: 100%;
}

.sliders-circle-container {
    position: absolute;
    z-index: 7;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.sliders-circle-container li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    background: #fff;
}

.sliders-circle {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    animation-timing-function: linear;
    animation-name: move;
    animation-iteration-count: infinite;
}

.sliders-circle2,
.sliders-circle3,
.sliders-circle4,
.sliders-circle5 {
    opacity: 0;
}

.sliders-circle-container {
    bottom: 2%;
}

.sliders-circle {
    background: #51B1D9;
}

.sliders,
.sliders-circle {
    animation-duration: 20s;
}

.sliders1,
.spsliders1,
.sliders-circle1,
.slider-ite1 {
    animation-delay: -1s;
}

.sliders2,
.spsliders2,
.sliders-circle2,
.slider-ite2 {
    animation-delay: 3s;
}

.sliders3,
.spsliders3,
.sliders-circle3,
.slider-ite3 {
    animation-delay: 7s;
}

.sliders4,
.spsliders4,
.sliders-circle4,
.slider-ite4 {
    animation-delay: 11s;
}

.sliders5,
.spsliders5,
.sliders-circle5,
.slider-ite5 {
    animation-delay: 15s;
}

@keyframes move {
    0% {
        opacity: 0;
        z-index: 2;
    }
    5% {
        opacity: 1;
        z-index: 1;
    }
    20% {
        opacity: 1;
        z-index: 1;
    }
    25% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

.sliders1 {
    background-image: url(../img/bigimage1.jpg);
}

.sliders2 {
    background-image: url(../img/bigimage2.png);
}

.sliders3 {
    background-image: url(../img/bigimage3.png);
}

.sliders4 {
    background-image: url(../img/bigimage2.png);
}

.sliders5 {
    background-image: url(../img/bigimage4.jpeg);
}

.slider,
.sliders {
    padding-bottom: 30%;
}

.navbar {
    background-color: #29b078;
}

.navbar::after {
    content: "";
    display: block;
    clear: both;
}

.xs-hidden-btn {
    float: right;
    display: none;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin: 8px;
    background-color: #29b078;
}

.xs-hidden-btn span {
    margin: 5px;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
}

.nav-drop-menu li {
    padding: 15px 15px;
    list-style: none;
    float: left;
    background-color: #29b078;
}

.nav-drop-menu li:hover {}

.nav-drop-menu {
    padding: 0;
    text-align: center;
    float: right;
    clear: both;
}

#nav-btn {
    display: none;
}

#nav-btn:checked~.nav-drop-menu {
    display: block;
}

@media screen and (min-width: 768px) {
    .xs-hidden-btn {
        display: none;
    }
    .nav-drop-menu {
        margin-right: 15px;
        margin-top: 0;
        display: block;
        float: right;
    }
    .nav-drop-menu li {
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .xs-hidden-btn {
        display: block;
    }
    .nav-drop-menu {
        display: none;
        float: none;
    }
    .nav-drop-menu li {
        float: none;
    }
}

.banner-arrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
}

.banner-left {
    width: 20px;
    height: 38px;
    background-image: url(cirsqu1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.banner-right {
    width: 20px;
    height: 38px;
    background-image: url(cirsqu2.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

// BootStrap css
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.row::after,
.row::before {
    display: table;
    content: " ";
    clear: both;
}

[class*='col-'] {
    float: left;
    position: relative;
    min-height: 0.01rem;
}

@media screen and (max-width:768px) {
    .es-6 {
        width: 50% !important;
    }
}

@media screen and (min-width:768px) {
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-3 {
        width: 25%;
    }
}

@media screen and (min-width:900px) {
    .col-sp-6 {
        width: 50%;
    }
}

@media screen and (min-width:992px) {
    .col-md-9 {
        width: 75%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-1 {
        width: calc(100%/12);
    }
}

@media screen and (min-width:1100px) {
    .col-md-3 {
        width: 25%;
    }
}

@media screen and (min-width:1400px) {
    .col-lg-4,
    .col-splg-4 {
        width: 33%;
    }
}

@media screen and (max-width:1099px) {
    .col-md-3 {
        width: 100%;
    }
    .col-md-9 {
        width: 100%;
    }
    .specialclearfix:after {
        content: ".";
        display: block;
        height: 1800px;
        visibility: hidden;
        clear: both;
    }
}

@media screen and (max-width:768px) {
    [class*='col-'] {
        width: 100%;
    }
    .specialclearfix:after {
        content: ".";
        display: block;
        height: 800px;
        visibility: hidden;
        clear: both;
    }
}

@media screen and (max-width:400px) {
    .specialclearfix:after {
        content: ".";
        display: block;
        height: 1000px;
        visibility: hidden;
        clear: both;
    }
}

@media screen and (max-width:550px) {
    .specialclearfix:after {
        content: ".";
        display: block;
        height: 1000px;
        visibility: hidden;
        clear: both;
    }
}

@media screen and (max-width:1400px) {
    .specialclearfix:after {
        content: ".";
        display: block;
        height: 500px;
        visibility: hidden;
        clear: both;
    }
}

@media screen and (min-width:768px) {
    .col-md-12 {
        width: 100%;
    }
}

@media screen and (max-width:1400px) {
    .col-splg-4 {
        width: 100%;
    }
}