.header {
    width: 100%;
    height: 2.5rem;
    background: #29bde0;
}

.menuItem {
    height: 17.5px;
    width: 10px;
    background-size: 100%;
    background-image: url("../public/back-icon.png");
    margin-left: .5rem;
}

.ItemSpecial {
    visibility: hidden;
}
.unvisible{
    visibility: hidden;
}

.menu-button {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: orange;
    >img {
        height: 70%;
        width: 70%;
    }
}



.form-custom {
    width: 30%;
}


.inputnumber {
    font-size: 0.8rem;
}

.cust-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    button {
        width: 80%;
    }
}
.ruler{
    .color {
        height: 5px;
        width: 5px;
        background: orange;
        margin-right: 5px;
    }
}
.people{
    .color {
        height: 5px;
        width: 5px;
        background: blue;
        margin-right: 5px;
    }
}
#ok{
    color: blue;
    cursor: pointer;
}

.clear-border {
    margin: 0;
}

.cust-input {
    border-bottom: 1px solid #dbdbdb;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}